<%- include ('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <br>
            <br>
            <br>
            <br>
            <hr>
                    <h1 class="display-4 text-center">Success!</h1>
                    <h2 class="h4">Upload Complete</h2>
                    <a class="btn btn-md btn-success btn-md btn-block" href="/cmv#/results" type="button">Filter Results</a>
                    <!-- The above href is what works, I am not certain why vue.js has hashtags in the urls at the moment - (04/20/2020)-->
            <hr>
      </div>

    
            </div>
    </div>
</div>


<%- include ('../partials/footer') %>